{% extends 'base.jinja' %}

{% block title%}Announcement{% endblock %}

{% block content %}
<div class="container">
    <h1><span id="hash">#</span> Announcement</h1>
    <p>Dear customer,<br>There is a planned maintenance on systems: <br>
        {% for system in systems %}
        {{ system }}<br>
        {% endfor %}
        {% if downtime == 'YES' %}
        We expect <b>downtime</b> on application services.
        {% else %}
        We don't expect disruption of application services. Short
        disruptions might happen.
        {% endif %}
    </p>
    {{ services }}
    <p>
        <b>Start Time:</b><br>
        {{ starttime }} <br><br>
        <b>Planned End Time:</b><br>
        {{ endtime }}
    </p>
    <p>
        <b>Planned Task:</b><br>
        {{ task }}
    </p>
</div>
{% endblock %}