{% extends 'base.html' %}

{% block title%}Maintenance completed{% endblock %}

{% block content %}
<div class="container">
    <h1><span id="hash">#</span> Maintenance completed</h1>
    <p>Dear customer,<br>The planned maintenance on the systems
        {% for system in systems %}
        {{ system }}
        {% endfor %} was completed.<br>
        All services are expected to be up and running!
    </p>
    {{ services }}
    <p>
        <b>Planned Task:</b><br>
        {{ task }}
    </p>
    <p>In case of questions do not hesitate to contact the implementor {{
    contact }} on {{ contact_no }}.</p>
</div>
{% endblock %}