{% extends 'base.jinja' %}

{% block title%}Maintenance completed{% endblock %}

{% block content %}
<div class="container">
    <h1><span id="hash">#</span> Maintenance completed</h1>
    <p>Dear customer,<br>The planned maintenance on systems
        {% for system in systems %}
            <li>{{ system }}</li>
        {% endfor %} was completed.<br>
        All services are up and running!
    </p>
    <p>
        <b>Finished Task:</b><br>
        {{ task }}
    </p>
</div>
{% endblock %}