{% extends 'base.html' %}

{% block title%}Maintenance{% endblock %}

{% block content %}
<div class="container">
    <h1><span id="hash">#</span> Maintenance</h1>
    <p>Dear customer,<br>The planned maintenance on the systems
        {% for system in systems %}
        {{ system }}
        {% endfor %} begins.<br>
        {% if downtime == 'YES' %}
        We expect <b>downtime</b> on application services.
        {% else %}
        We don't expect effects on application services. Short breaks might
        happen.
        {% endif %}
    </p>
    {{ services }}
    <p>
        <b>Start Time:</b><br>
        {{ starttime }} <br><br>
        <b>Planned End Time:</b><br>
        {{ endtime }}
    </p>
    <p>
        <b>Planned Task:</b><br>
        {{ task }}
    </p>
    <p>In case of questions do not hesitate to contact the implementor {{
    contact }} on {{ contact_no }}.</p>
</div>
{% endblock %}