{% extends 'base.jinja' %}

{% block title%}Maintenance{% endblock %}

{% block content %}
<div class="container">
    <h1><span id="hash">#</span> Maintenance</h1>
    <p>Dear customer,<br>The planned maintenance started on following systems
        <br>
        {% for system in systems %}
            <li>{{ system }}</li>
        {% endfor %}
    </p>
    <p>Following services are affected during the maintenance<br>
    {% for serv in services %}
        <li>{{ serv }} </li>
        {% endfor %}
    </p>
    <p>
        <b>Start Time:</b><br>
        {{ starttime }} <br><br>
        <b>Planned End Time:</b><br>
        {{ endtime }}
    </p>
    <p>
        <b>Currently executed task:</b> {{ task }}
    </p>
</div>
{% endblock %}