{% extends 'base.jinja' %}

{% block title%}Problem{% endblock %}

{% block content %}
<div class="container">
    <h1 id="problem"><span id="hash">#</span> Problem</h1>
    <p>Dear customer,<br>The planned maintenance on systems <br>
        {% for system in systems %}
            <li>{{ system }}</li>
        {% endfor %} is experiencing problems.<br>
        We are working on a solution!
    </p>
</div>
{% endblock %}